<html>
  <head>
    <title>DogeDev - About Me</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!--Load up FontAwesome-->
  </head>
  <body>
    <button id="topButton"><i class="fa-solid fa-arrow-up" onClick="topClick()"></i></button>
    <div align="center" class="sociallinks">
      <img class="pfp" src="pfp.png"class="noselect" width="256px" height="256px"></img>
    <h1 class="name">DogeDev</h1>
      
    <div class="sociallinks" align="center">
      <a class="icolink noselect" href="https://github.com/DogeeDev" target="blank" rel="noreferrer noopener"><p class="noselect"><i class="fa-brands fa-github noselect"></i> DogeeDev</p></a>
      <a class="icolink noselect" href="https://www.youtube.com/c/DogeSurf" target="blank" rel="noreferrer noopener" class="noselect"><p><i class="fa-brands fa-youtube noselect"></i> DogeDev</p></a>
      <p class="noselect"><i class="fa-brands fa-discord noselect"></i> N The Capybara#6935</p>
    </div>
    </div>
    <div>&nbsp;</div>
    <div align="center">
      <p>Hello! I'm Eric, otherwise known as DogeDev and/or doqe_wow (same thing)</p>
    
    <p>I made this page as a school project, yes I was told to use google sites but that makes me feel too simple and effortless. Anyway, you may see this in a googlesite but that's probably just an embed.</p>
      <p>Most of my Projects are probably just passion projects but I have chance of getting some money.</p>
    <h1>My Projects</h1>
    <h3>ROBLOX</h3>
    <p>I have some projects like <a href="https://github.com/DogeeDev/Remotion" class="l" target="blank" rel="noreferrer noopener">Remotion</a>, my remotelog spammer for exploiters and if any exploiters try deleting either the script or the remotes being sent to the server, they'll probably get kicked out from the game.</p>
    <p>I also work on a ROBLOX game called landmine game. Trying my best to get it updated.</p>
    <h3>NODE</h3>
    <p>I made DogeChat in 6th grade, which all of the domains are probably blocked now. <smally>(because of the amount of moderation, and also being a chat platform)</smally> But if you could guess, it was like Discord made with websockets.</p>
  </body>
    </div>
</html>